#navbar{
    position: fixed;
    top:0;
    left:0;
    height:5%;
    width: 100%;

}

#navbar ul{
    list-style-type: none;
    display:flex;
    justify-content: center;

}

#navbar ul li {
    display:inline;
    padding:5px;
}